@import '~antd/dist/antd.css';

.scrollprac{
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 30px;
    text-align: center;
}

.scrollprac::-webkit-scrollbar{
    width: 10px;     
    height: 1px;
}

.scrollprac::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.scrollprac::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.scrollprac2{
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 30px;
    text-align: center;
}

.scrollprac2::-webkit-scrollbar{
    width: 10px;     
    height: 1px;
}

.scrollprac2::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #FFCC00;
}
.scrollprac2::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.scrollprac3{
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 30px;
    text-align: center;
}

.scrollprac3::-webkit-scrollbar{
    width: 10px;     
    height: 1px;
}

.scrollprac3::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #22D3FF;
}
.scrollprac3::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
