@import '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mainlogo{
  font-size:80px;
}
.register{
  position:absolute;
  left:92%;
  top:2%;
  height:40px;
  width:100px;
}
.submit{
  position:static;
  width:100px;
  left:15%;
}

.submit2{
  left:15%;
}

.forgetpassword{
  position:relative;
  left:9%;
}

.studententry{
  left:33%;
  height:50px;
  width:150px;
  font-size:25px;
  background-color:rgb(255, 217, 0);
}

.teacherentry{
  left:33%;
  height:50px;
  width:150px;
  font-size:25px;
  background-color:rgba(255, 0, 242, 0.445);
}

