@import '~antd/dist/antd.css';
.title{
    position:relative;
    font-size:30px;
    margin:30px;
    left:35%;
}

.form{
    position: relative;
    top:50%;
}

.submit3{
    font-size:20px;
    width:62.5%;
}