@import '~antd/dist/antd.css';
.logo {
    font-size:30px;
    background:#fff;  
    margin-left:-250px;
    float: left;
}
  
.aboutus{
    position:relative;
    top:50vh;
}
  
.aboutus2{
    font-size:20px;
    font-weight:bold;
}
  
.avatar{
    position:relative;
    left:70%;
}
  
.info{
    margin-right:15px;
}
  
.username{
    margin-left:20px;
}